################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Webservice/.vs
/WebService/WebService/bin
/WebService/WebService/obj
/WebService/WebService/Migrations
/WebService/WebService/WebService.db
/WebService/WebService/WebService.db-shm
/WebService/WebService/WebService.db-wal